/*Changed the font to an available font within the set amount of fonts if it cant it picks a sans serif font.
changed the background to a dark red color and the text to white.
changed the size to be 24px or 1.5em.
made the margin to be 144px on the right and left
made the content be centered
have a padding of 100px*/
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(74, 0, 0);
    color: white;
    font-size: 1.5em;
    margin: 0em 6em;
    justify-content: center;
    padding: 0 100px;
}

/*Added a border to the bottom of 3px for width made it solid and the color white*/
header{
    border-bottom: 3px solid white;
}

/*made the font size 0.65em*/
footer{
    font-size: 0.65em;
}

